@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 75, 102);

}
.form{
    width: 400px;
    background-color: rgb(255, 246, 246);
    padding: 150px 30px;
}
input{
    height: 30px;
    width: 100%;
    border: none;
    padding: 10px;
    border-bottom: .5px solid rgb(24, 7, 7);
    transition: 1s ease all;
}
.field{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 25px 0;
}
.border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scale(0);
    transform-origin: left;
    height: 3px;
    background-color: rgb(62, 76, 138);
    transition: .4s ease-in-out all;
}
label{
    position: absolute;
    left: 10px;
    transition: .5s ease all;
}
input:focus{
    outline: 0;
}
button{
    padding: 10px 35px;
    width: 100%;
    background-color: rgb(90, 90, 110);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .7s ease all;

}
button:hover{
    background: rgb(255,255,255);
    letter-spacing: 4px;
}
label.top{
    transform: translateY(-20px);
}